<div class="row">
    <h1>Listagem de Categorias</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th colspan="50">
                    <button class="btn btn-info">Nova categoria</button>
                </th>
            </tr>
            <tr>
                <th style="width: 5%;">ID</th>
                <th style="width: 65%;">Nome</th>
                <th style="width: 10%;">Ativa?</th>
                <th style="width: 10%;">Criado em</th>
                <th style="width: 10%;">Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let category of categories">
                <td>{{ category.id }}</td>
                <td>{{ category.name }}</td>
                <td>
                    <i class='fas' [ngClass]="{'fa-check' : category.active, 'fa-times': !category.active}"></i>

                </td>
                <td>{{ category.created_at.date | date: 'dd/MM/yyyy'}}</td>
                <td>Editar | Excluir</td>
            </tr>
        </tbody>
    </table>
</div>