<div class="alert alert-danger" role="alert" *ngIf="_show">
  <ng-content></ng-content>
  <button type="button" class="close" aria-label="Close" (click)="hide()">
    <span aria-hidden="true">&times;</span>
  </button>
  {{ _show }}
</div>