<form class="form-signin" (submit)="submit()">

    <alert-error *ngIf="showMessageError" [(show)]="showMessageError">Credenciais inválidas!</alert-error>
    {{ showMessageError }}

    <div class="text-center mb-4">
        <h1 class="h3 mb-3 font-weight-normal">Code Shopping - Login</h1>
    </div>

    <input type="email" id="email" name="email" class="form-control mb-1" placeholder="E-mail" required autofocus
           [(ngModel)]="credentials.email">
    <input type="password" id="password" name="password" class="form-control mb-2" placeholder="Digite sua senha" required
           [(ngModel)]="credentials.password">

    <button class="btn btn-lg btn-primary btn-block" type="submit" >Entrar</button>
    {{ credentials | json }}
    <!--{{ email }}-->
    <!--{{ email }}-->
    <!--{{ obj.email }}-->
    <!--{{ obj.array[0] }}-->
</form>
